<li>
  Img URL: {{article.image}}<br>
  Title: {{article.title}}<br>
  Author: {{article.author}}
  {{#if isTextShowing }}
    <p {{action 'textHide'}}>{{article.text}}</p>
  {{else}}
    <br><button {{action 'textShow'}}>Show Text</button>
  {{/if}}
  {{update-article article=article update="update"}}
  <button {{action 'delete' article}}>Delete</button>
</li>
